*{
text-align: center;
list-style: none;
font-family: 'Georgia', serif;
}

a{
color: black;
}

body{

background: #007958;
}

header{
transform: translate(-25%,-25);
text-align: center;

}

header h1{
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 5em;
  color: rgba(0,255,0,.1);
}


button{
height: 100px;
width: 100px;
border-radius: 50%;

}

.snackBtns{
border: 1px solid black;
width: 100%;
background-color: #a67f23;
background-repeat: repeat;
}

#twix{
background-image: url("img/twixLogo.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

#kitKat{
background-image: url("img/kitKatLogo.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

#polandSpring{
background-image: url("img/polandSpringLogo.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

#ruffles{
background-image: url("img/ruffles.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

#fanta{
background-image: url("img/blueFanta.jpg");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

li{
float: left;
}
